<div class="container justify-content-center ms-auto"><h1>About Us</h1>
    <h2 class="text-center">Team Members</h2>
    <div id="team" class="justify-content-center d-flex">
        <div class="m-3 d-inline-block"><img src="./dp/dp_sanya.jpeg" width="304" height="228" alt="Sanya Singhal's DP">
            <p class="text-lg-center">Sanya Singhal<br>sanya.singhal@dcmail.ca<br>437-286-1739</p></div>
        <div class="m-3 d-inline-block"><img src="./dp/dp_prerak.jpeg" width="304" height="228"
                                             alt="Prerakkumar Patel's DP">
            <p class="text-lg-center">Prerakkumar Patel<br>prerakkumar.patel@dcmail.ca<br>905-922-8135</p></div>
        <div class="m-3 d-inline-block"><img src="./dp/dp_zeel.jpeg" width="304" height="228" alt="Zeel Sutariya's DP">
            <p class="text-lg-center">Zeel Sutariya<br>zeel.sutariya@dcmail.ca<br>905-922-8577</p></div>
    </div>
</div>