<div class="container justify-content-center ms-auto"><h1>Project</h1>
    <h2 class="text-center">Top project that are adding values in tech world</h2>
    <div id="project" class="justify-content-center d-flex">
        <div class="m-3 d-inline-block"><img src="./projectsphoto/paycalculator.jpeg" width="304" height="228"
                                             alt="ASP Payrolletor's DP">
            <p class="text-lg-center">ASP Payrolletor<br>sanya.singhal@dcmail.ca<br>437-286-1739</p>
        </div>
        <div class="m-3 d-inline-block"><img src="./projectsphoto/pizzashop.jpeg" width="304" height="228"
                                             alt="Prerakkumar Patel's DP">
            <p class="text-lg-center">Prerakkumar Patel<br>prerakkumar.patel@dcmail.ca<br>905-922-8135</p>
        </div>
        <div class="m-3 d-inline-block"><img src="./projectsphoto/salescompany.jpeg" width="304" height="228"
                                             alt="Zeel Sutariya's DP">
            <p class="text-lg-center">Zeel Sutariya<br>zeel.sutariya@dcmail.ca<br>905-922-8577</p>
        </div>
    </div>
</div>