
<div class="container">
    <h1> Services </h1>
<div class="container justify-content-center ms-auto">
    <div id="Service" class="justify-content-center d-flex">
        <div class="m-3 d-block text-center"><p class="text-lg-center">We provide you a unique website design that is
            ideal for your personal or company website.</p></div>
        <div class="m-3 d-block text-center"><p class="text-lg-center">we provide end-to-end organization,
            conceptualization, design, optimization, and maintenance of your mobile app project.</p></div>
        <div class="m-3 d-block text-center"><p class="text-lg-center">We are capable of handling the design, creation,
            and release of a video game.</p></div>
    </div>
</div>

</div>