<div class="container text-center">
    <h1>About Us</h1>
    <h2>Meet Our Team</h2>
    <div id="team" class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="assets/images/dp/dp_sanya.jpeg" class="card-img-top" alt="Sanya Singhal's DP" style="height: 304px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Sanya Singhal</h5>
                    <p class="card-text">sanya.singhal@dcmail.ca<br>437-286-1739</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="assets/images/dp/dp_prerak.jpeg" class="card-img-top" alt="Prerakkumar Patel's DP" style="height: 304px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Prerakkumar Patel</h5>
                    <p class="card-text">prerakkumar.patel@dcmail.ca<br>905-922-8135</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="assets/images/dp/dp_zeel.jpeg" class="card-img-top" alt="Zeel Sutariya's DP" style="height: 304px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Zeel Sutariya</h5>
                    <p class="card-text">zeel.sutariya@dcmail.ca<br>905-922-8577</p>
                </div>
            </div>
        </div>
    </div>
</div>
