<div class="container " >
  <h1 class="text-center"> Contact Us </h1>
  <div id="messageArea" class=""></div>
  <div class=" row justify-content-lg-center g-3 ">
    <form id="contactpage" method="post"  class="col-md-10 col-sm-10 col-lg-6 bg-opacity-10 bg-dark m-3 p-5 rounded-3 ">
      <div class="input-group mb-3">
        <span class="input-group-text">Full Name </span>
        <input  id="fullName" name="fullName" type="text" class="form-control"
                aria-describedby="Full Name Input "  aria-label="Full Name Input" required><i class="fas fa-ellipsis input-group-text"></i>
         </div>
      <div class="input-group mb-3">
        <span  class="input-group-text">Contact Number</span>
        <input  id="contactNumber" name="contactNumber" type="tel" class="form-control"
                aria-describedby="Contact Number Input "  aria-label="Contact Number Input" required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Email address</span>
        <input  id="emailAddress" name="emailAddress" type="email" class="form-control"
                aria-describedby="Email Address Input "  aria-label="Email Address Input" required>
      </div>

      <div class="mb-3 form-check">
        <input id="subscribeCheckbox"  name = "subscribeCheckbox" type="checkbox" class=" form-check-input" >
        <label class="form-check-label" for="subscribeCheckbox">Subscribe to our contact list</label>
      </div>
      <button id="sendButton" type="submit" class="btn btn-primary mb-3"><i class="fas fa-envelope"></i> Send</button>

      <button id="cancelButton" type="reset" class="btn btn-warning mb-3"><i class="fas fa-undo fa-lg"></i> Cancel</button>

    <div class="mb-3">
      <a href="/contact-list" id="contactList" class="btn btn-primary btn-lg"> <i class="fas fa-users fa-lg"></i> Show contact list</a>

    </div>
    </form>
  </div>
</div>