<div class="container text-center">
    <h1 class="mb-5"> Welcome  <%= displayName? displayName:' to Home page  '  %> </h1>



        <section id="about">
            <h2>About Us</h2>
            <p>At our CRUD Express App, we are committed to providing our users with a simple, intuitive platform for managing their data. Whether you're a small business owner, a data analyst, or a student, our app is designed to make data management as painless and efficient as possible. We believe that everyone should have access to powerful data tools, regardless of their technical skills or experience.</p>

        </section>
        <section id="vision">
            <h2>Our Vision</h2>
            <p>Our vision is to be the leading data management platform, empowering users around the world to take control of their data and make better decisions. We believe that data should be accessible and understandable to everyone, regardless of their background or technical skills. With My CRUD Express App, we aim to make this vision a reality.</p>
        </section>
<button id="AboutUsBtn" class="btn btn-primary">About us</button>
</div>
