<div class="container text-center">
    <h1>Projects</h1>
    <h2>Top Projects Adding Value to the Tech World</h2>
    <div id="project" class="d-flex justify-content-center">
        <div class="m-3 d-inline-block">
            <div class="card">
                <img src="assets/images/projectsphoto/paycalculator.jpeg" class="card-img-top" alt="ASP Payrolletor" style="height: 304px; object-fit: cover;">
                <div class="card-body">
                    <h5 href="" class="card-title">ASP Payrolletor</h5>
                    <p class="card-text">A web application designed to help small business owners calculate employee payrolls more efficiently.</p>
                    <p class="card-text">sanya.singhal@dcmail.ca<br>437-286-1739</p>
                </div>
            </div>
        </div>
        <div class="m-3 d-inline-block">
            <div class="card">
                <img src="assets/images/projectsphoto/pizzashop.jpeg" class="card-img-top" alt="Pizza Shop" style="height: 304px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Pizza Shop</h5>
                    <p class="card-text">An online ordering system for pizza shops that streamlines the ordering process and allows for easier customization of orders.</p>
                    <p class="card-text">prerakkumar.patel@dcmail.ca<br>905-922-8135</p>
                </div>
            </div>
        </div>
        <div class="m-3 d-inline-block">
            <div class="card">
                <img src="assets/images/projectsphoto/salescompany.jpeg" class="card-img-top" alt="Sales Company" style="height: 304px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Sales Company</h5>
                    <p class="card-text">A CRM system designed for sales companies to manage customer data and track sales progress.</p>
                    <p class="card-text">zeel.sutariya@dcmail.ca<br>905-922-8577</p>
                </div>
            </div>
        </div>
    </div>
</div>
