<div class="container text-center">
    <h1>Services</h1>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card m-3">
                <img src="assets/images/servicesimage/webdev.jpg" class="card-img-top" alt="Website Design">
                <div class="card-body">
                    <h5 class="card-title">Website Design</h5>
                    <p class="card-text">We provide you a unique website design that is ideal for your personal or company website. Our experienced designers will work with you to create a custom design that meets your specific needs and reflects your brand image.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card m-3">
                <img src="assets/images/servicesimage/mobdev.jpg" class="card-img-top" alt="Mobile App Development">
                <div class="card-body">
                    <h5 class="card-title">Mobile App Development</h5>
                    <p class="card-text">We provide end-to-end organization, conceptualization, design, optimization, and maintenance of your mobile app project. Our skilled developers have extensive experience working with various platforms and can deliver high-quality, fully-functional mobile apps that meet your business objectives.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card m-3">
                <img src="assets/images/servicesimage/gamedev.webp" class="card-img-top" alt="Video Game Development">
                <div class="card-body">
                    <h5 class="card-title">Video Game Development</h5>
                    <p class="card-text">We are capable of handling the design, creation, and release of a video game. Our team of expert developers and designers will work with you to create a game that is engaging, visually appealing, and optimized for a great user experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>
